<!-- contact.html -->
<div class="jumbotron text-center">
  <h1>{{ data.projects.title }}</h1>
  <p>{{ data.projects.subtitle }}</p>
</div>
<div class="col-md-12 col-sm-12">
 <div class="row">
  <div class="col-md-4" ng-repeat="p in data.projects.list track by $index">
   <div class="thumbnail">
    <a ng-href="{{p.link}}" ng-click="SetProject($index)">
      <img class="img-responsive" ng-src="img/{{p.picture}}" alt="{{p.picture}}" style="max-width:100%; height:200px;">
      <div class="caption">
        <p class="text-center" ng-bind="p.title"></p>
      </div>
    </a>
   </div>
  </div>
 </div>
</div>
