<div class="jumbotron text-center">
  <h1>{{ data.resume.title }}</h1>
  <p>{{ data.resume.subtitle }}</p>
  <p class="text-info"><a href="img/cv-fdecan.pdf" download="CV-PDF"><i class="fa fa-download"></i> {{ data.resume.download }}</a></p>
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2> <i class="fa fa-user"></i> {{ data.resume.info.title }} <h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2"><i class="fa fa-birthday-cake"></i> {{ data.resume.info.birthdate.key }} </div>
        <div class="col-md-10"> {{ data.resume.info.birthdate.value }} </div>
      </div>
      <div class="row">
        <div class="col-md-2"><i class="fa fa-envelope"></i> {{ data.resume.info.mail.key }} </div>
        <div class="col-md-10"> {{ data.resume.info.mail.value }} </div>
      </div>
      <div class="row">
        <div class="col-md-2"><i class="fa fa-map-marker"></i> {{ data.resume.info.address.key }} </div>
        <div class="col-md-10"> {{ data.resume.info.address.value }} </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2> <i class="fa fa-suitcase"></i> {{ data.resume.pro.title }} <h2>
    </div>
    <div class="panel-body" ng-repeat="work in data.resume.pro.works">
      <div class="row">
        <h4 class="col-md-2">{{ work.period }}</h4>
        <h4 class="col-md-6">{{ work.label }}</h4>
        <h4 class="col-md-4">{{ work.localisation }}</h4>
      </div>
      <div class="row" ng-repeat="mission in work.missions">
            <div class="col-md-12"> {{ mission }}</div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2> <i class="fa fa-university"></i> {{ data.resume.education.title }}</h2>
    </div>
    <div class="panel-body" ng-repeat="school in data.resume.education.schools">
      <div class="row">
        <h4 class="col-md-2">{{ school.period }}</h4>
        <h4 class="col-md-6">{{ school.label }}</h4>
        <h4 class="col-md-4">{{ school.localisation }}</h4>
      </div>
      <div class="row">
            <div class="col-md-12"> {{ school.description }}</div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2> <i class="fa fa-trophy"></i> {{ data.resume.skills.title }}</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <h3 class="col-md-12">{{ data.resume.skills.language }}</h3>
      </div>
      <div class="row" ng-repeat="language in data.resume.skills.languages">
        <h4 class="col-md-4">{{ language.name }}</h4>
        <div class="col-md-8"><span ng-repeat="star in GetNumber(language.rating) track by $index">{{star}}<i class="fa fa-star"></i></span></div>
      </div>
      <div class="row">
        <h3 class="col-md-12">{{ data.resume.skills.technology }}</h3>
      </div>
      <div class="row" ng-repeat="tech in data.resume.skills.technologies">
        <h4 class="col-md-4">{{ tech.category }}</h4>
        <div class="col-md-8"><span ng-repeat="skill in tech.list" class="badge"> {{ skill }} </span></div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2> <i class="fa fa-gears"></i> {{ data.resume.achievements.title }}</h2>
    </div>
    <div class="panel-body" ng-repeat="project in data.projects.list | orderBy: '-order'">
      <div class="row">
        <h4 class="col-md-4">{{ project.period }}</h4>
        <h4 class="col-md-8">{{ project.title }}</h4>
      </div>
      <div class="row">
            <div class="col-md-12"> {{ project.subtitle }}</div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2> <i class="fa fa-gamepad"></i> {{ data.resume.hobbies.title }}</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4" ng-repeat="hobby in data.resume.hobbies.list">
          <h3 class="text-center">{{hobby.name}}</h3>
          <img class="img-responsive center-block" ng-src="img/{{hobby.picture}}">
        </div>
      </div>
    </div>
  </div>
</div>
